
@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  background: #efad8a;
  color: #ffffff;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

body {
  overflow: hidden;
  font-family: var(--font-roboto-mono);
}
.section {
  font-family: var(--font-roboto-slab);
}
.preview:hover {
  filter: #f39765;
}

.dark .code-wrapper {
  @apply bg-black-200;
}

.dark {
  color: #ffffff;
}
